body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .head{
    
    height: 100px;
    background-color: #352234;
    background-size: 100% 100%;
   
 }
 .logo {
    border: 2px solid transparent;
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 10px;
    margin: auto;
    text-align: center;
}

.logo img {
    width: 40px;
    height: 40px;
    filter: invert();

    
}

.logo div {
    line-height: 19px;
    font-size: 20px;
    text-align: center;
}
.searchbar{
    display: inline-block;
   

   
}
.searchbar input{
    border-radius: 20px;
    width: 500px;
    height: 45px;
    background-color: #ead9d9;
    padding: 10px;
   

}
.nav{
    border: 2px solid black;
   margin: 0;
    
}
.nav li{
    display: inline-block;
    
    width: 230px;
    height: 20px;
    margin-left: 30px;
    
   
   
    
}
.home a{
    text-decoration: none;
    color: white;
text-align: center;
    font-weight:400;
  
}
.shop a{
    text-decoration: none;
    color: white;
text-align: center;
   font-weight: 900;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: rgb(235, 216, 216);
   border: 2px solid transparent;
   background-color: rgb(218, 5, 5);
   border-radius: 10px;

}
.shop a:hover{
    background-color: rgb(9, 11, 12);
    color: rgb(233, 228, 228);
}
.home a:hover{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid rgb(39, 10, 10);
    border-radius: 20px;
    background-color: #0be1e1;
}
.list{
    background-color: #6b4b2f ;
}

.but a{
    text-decoration: none;
    color: aliceblue;
    font: larger;

}
#mart{
    color: rgb(235, 228, 228);
     text-align: center;
     margin-left: 5px;
   
}
.but{
    background-color: brown;
    
    border-radius: 20px;
    width: 250px;
    height: 75px;
    margin: 200px 700px;
    padding: 20px;
}
.but:hover{
    background-color: black;
    color: aliceblue;
}
.last{
    background-color: rgb(84, 135, 230);
    width: 100%;
    height: 400px;
}
.right {
    float: right;
    display: inline-block;
    margin: 30px 50px;
    border: 2px solid black;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    padding: 5px;
    text-align: center;
}
.flag{
    display: inline-block;
    
}
.flag img{
    top: 70px;
    height: 70px;
    width: 110px;
    
    margin: 5px 250px;
}
.right a{
    text-decoration: none;
    color: rgb(210, 17, 17);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right:hover{
    background-color: black;
   
}
.right a:hover{
    color: wheat;
}
.fixt{
    
   width: 100%;
}

  .look{
    border: 2px solid black;
  }
  .lookitems img{

 max-height: 200px;
    }
  .lookitems{
    display: inline-block;
    margin: 1px 20px;
    border: 2px solid black;
    width: 300px;
  }
  
